<?xml version="1.0"?>
<launch>
  
  <!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
  <!--node pkg="tf" type="static_transform_publisher" name="world_to_marker" args="0.27 0 0.14 0 0 0 world_frame camera_link 50"/-->

  <node pkg="tf" type="static_transform_publisher" name="world_to_camera" args="0 0 0.24 0 0.245 0 world_frame camera_link 50"/>
 
  <!-- launch camera -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>
 
  <!-- launch rviz -->
  <node name="rviz" type="rviz" pkg="rviz" args="-d $(find lab5-transforms)/rviz/view_transforms.rviz"/>

  <!-- launch marker track-->
  <include file="$(find lab5-transforms)/launch/marker_track.launch"/>

</launch>




