<?xml version="1.0" encoding="UTF-8"?>
<launch>
       	<!-- camera position --> 
	<!-- camera on the side <node pkg="tf" type="static_transform_publisher" name="ground_to_camera" args="0.611237 0.433886 0.443974 -2.089600 0.697037 -0.070526 ground_link camera_link 50"/> -->
	  <node pkg="tf" type="static_transform_publisher" name="ground_to_camera" args="0.664309 0.141670 0.405474 -2.936789  0.711576 0.025043 ground_link camera_link 50"/> 


	<!-- static transfrm to camera optical frame -->
        <node pkg="tf" type="static_transform_publisher" name="camera_to_opt_frame" args="0 0 0 -1.57 0 -1.57 camera_link camera_optical_frame 50" />
        
</launch>




