<?xml version="1.0" encoding="UTF-8"?>
<launch>
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rap_pose_lab_niryo)/config/rap_lab_pose_niryo.rviz"/>

  <include file="$(find rap_pose_lab_niryo)/launch/ground_to_camera.launch"/>

  <!-- run grasp generation -->
  <include file="$(find gpd_ros)/launch/niryo_grasp_generation.launch"/>

  <!-- run point cloud filtering-->
        <node name="pointcloud_filtering" pkg="irlab_point_cloud_filtering" type="point_cloud_filtering_server" args="/camera/depth/points" respawn="true" output="screen"/>

        <!-- import octomap sensors -->
        <include ns="move_group"  file="$(find icclab_grasping_niryo)/config/sensor_manager.launch.xml"/>
</launch>

